name: Test Charmcraft

on:
  pull_request:
    paths:
      - ".github/workflows/*charmcraft*"
      - "charmcraft**"
  push:
    branches:
      - main

jobs:
  setup:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-22.04-arm, ubuntu-24.04-arm]
        channel: [latest/candidate, latest/edge, 3.x/candidate]
        include:
          - os: ubuntu-24.04
            channel: ''
            revision: 5303
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./charmcraft/setup
        id: setup
        with:
          channel: ${{ matrix.channel }}
          revision: ${{ matrix.revision }}
      - name: Check revision number if set with a revision
        if: matrix.revision != ''
        run: |
          [[ ${{ matrix.revision }} == ${{ steps.setup.outputs.charmcraft-revision }} ]]
      - name: Check that revisions are set
        run: |
          test ${{ steps.setup.outputs.charmcraft-revision }} -ge 0
          test ${{ steps.setup.outputs.lxd-revision }} -ge 0
      - name: Check that install works even if Charmcraft is already installed
        uses: ./charmcraft/setup
  pack:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, ubuntu-22.04-arm, ubuntu-24.04-arm]
        channel: [latest/candidate, latest/edge, 3.x/candidate]
        include:
          - os: ubuntu-24.04
            channel: ''
            revision: 5303
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/checkout@v5
        with:
          repository: juju/juju
          path: juju
          ref: main
      - name: Pack charm
        id: charmcraft
        uses: ./charmcraft/pack
        with:
          path: juju/testcharms/charms/lxd-profile/
          channel: ${{ matrix.channel }}
          revision: ${{ matrix.revision }}
      - name: Upload charm
        uses: actions/upload-artifact@v4
        with:
          name: test-charm-${{ matrix.os }}-${{ steps.charmcraft.outputs.charmcraft-revision }}
          path: juju/testcharms/charms/lxd-profile/*.charm

